@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #614bc3;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 600px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapper span {
  color: red;
}

.wrapper input[type="text"] {
  width: 90px;
  height: 40px;
  font-weight: 900;
  padding: 20px 0;
  text-align: center;
  margin-top: 30px;
  outline: 0;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 30px;
}

.wrapper button {
  width: 90px;
  font-weight: 900;
  padding: 10px;
  text-align: center;
  outline: 0;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  background-color: #1a5d1a;
  color: #fff;
  margin-bottom: 20px;
}

@media screen and (max-width: 610px) {
  .wrapper {
    width: 90%;
    margin-inline: auto;
  }

  .wrapper h2 {
    font-size: 18px;
  }

  .wrapper h3 {
    font-size: 13px;
  }

  .wrapper p {
    font-size: 12px;
  }
}
